*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(background.jpg);
    background-blend-mode: darken;
    background-color: #00000080;
}

header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE;
}

main{
    flex-grow: 1;
}

.galeria-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0 10px;
}

.galeria-itens{
    width: 400px;
    height: 270px;
    flex-grow: 1;
    box-shadow: 3px 3px 3px #808080;
    border: 5px solid #C0C0C0;
    overflow: hidden;
}

.galeria-itens img{
    width: 100%;
    height: 100%;
    /* filter: grayscale(100%); */
    transition: all 1s linear;
}

.galeria-itens img:hover{
    /* filter: grayscale(0) */
    transform: scale(150%);
}  

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE;
}